<ion-view title="Absensi Siswa" hide-nav-bar="true" cache-view="false" id="welcome">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <style>
      body {
        background-image: url(img/unnamed.jpg);
        background-size: cover;
      }
    </style>
    <h1 style="text-align: center; margin-top: 10px;">Absensi Siswa SMP Negeri 1 Singaraja</h1>

    <div class="container-fluid">
      <div class="container logoSkl">
        <img class="logoSk" src="img/logospensa.png" alt="">
      </div>
    </div>
    <div class="container-fluid">
      <br>
      <div id="tombolqr" class="container-qr">
        <a ng-click="alat1()"><h1 style="text-align: center;">Alat 1</h1></a>
      </div>
      <br>
      <div id="tombolqr" class="container-qr">
        <a ng-click="alat2()"><h1 style="text-align: center;">Alat 2</h1></a>
      </div>
      <br>
      <div id="tombolqr" class="container-qr">
        <a ng-click="alat3()"><h1 style="text-align: center;">Alat 3</h1></a>
      </div>
    </div>
  </ion-content>
</ion-view>