<ion-view title="Absensi Siswa" hide-nav-bar="true" cache-view="false" id="welcome">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <style>
      body {
        background: rgb(56, 126, 245);
        background: -moz-linear-gradient(180deg, rgba(56, 126, 245, 1) 0%, rgba(50, 110, 210, 1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(56, 126, 245, 1) 0%, rgba(50, 110, 210, 1) 100%);
        background: linear-gradient(180deg, rgba(56, 126, 245, 1) 0%, rgba(50, 110, 210, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#387ef5", endColorstr="#326ed2", GradientType=1);
      }

      h1,
      h2,
      h3,
      h4,
      h5 {
        color: white
      }

      .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }

    </style>
    <div class="center">
      <div class="container-fluid">
        <div class="container logoSkl">
          <img class="logoSk" src="img/logospensa.png" alt="">
        </div>
      </div>
      <div class="m-5">
        <h4 class="text-center">ABSENSI SISWA</h4>
        <h4 class="text-center">SMP Negeri 1 Singaraja</h4>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <a class="btn btn-lg btn-light" ng-click="alat1()">Alat 1</a>
          </div>
          <div class="col">
            <a class="btn btn-lg btn-light" ng-click="alat2()">Alat 2</a>
          </div>
          <div class="col">
            <a class="btn btn-lg btn-light" ng-click="alat3()">Alat 3</a>
          </div>
        </div>
        <div class="row my-3">
          <div class="col">
            <a class="btn btn-lg btn-light" ng-click="alat_belakang()">Alat Khusus</a>
          </div>
        </div>

        <!-- <center>
          <div id="tombolqr" class="container-qr">
            <a class="btn btn-lg btn-light" ng-click="alat1()">Alat 1</a>
          </div>
          <br>
          <div id="tombolqr" class="container-qr">
            <a class="btn btn-lg btn-light" ng-click="alat2()">Alat 2</a>
          </div>
          <br>
          <div id="tombolqr" class="container-qr">
            <a class="btn btn-lg btn-light" ng-click="alat3()">Alat 3</a>
          </div>
        </center> -->

      </div>
    </div>

  </ion-content>
</ion-view>
